<h1>Site Members:</h1>
<br />


<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Role</th>
		</tr>
	</thead>

	<tbody>
<% @users.each do |u| %>
	<tr>
		<td><%= u.name %></td>
		<td><%= u.email %></td>
		<td><%= u.role.upcase %></td>
		<td><%= link_to "Select User", show_user_path(id: u.id), class: "btn btn-warning" %></td>
<% end %>
	</tr>
	</tbody>
</table>


<%= link_to "Home", root_path, class: "btn btn-danger" %>
