<%= form_with(model: shoe, local: true) do |form| %>
  <% if shoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
      <% shoe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <strong>Upload Product Image: </strong>
  <%= form.file_field :image %>
</div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :shoe_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, id: :shoe_price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :size, value: nil, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.number_field :quantity, value: nil, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :shoe_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :shoe_brand, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, @categories.collect { |c| [ c.name, c.id ]}, {include_blank: "Please select a category" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
